<section>
    <div class="row">
        <div class="col-sm text-center">
            <mat-list>
                <h3 mat-subheader>
                    Asistente &nbsp;
                    <mat-icon (click)="helper.show();" #helper="matTooltip" matTooltipClass="help-primary" matTooltipPosition="right" matTooltip="Selecciona una consulta para generar el campo automáticamente" class="pointer">report</mat-icon>
                </h3>
                <mat-list>
                    <mat-list-item>
                        <mat-icon class="icons">send</mat-icon>&nbsp;
                        <span (click)="getHelperString('Hola, me gusta diseñar un nuevo sitio web para mi negocio');">
                                Hola, me gusta diseñar un nuevo sitio web para mi negocio.
                      </span>
                    </mat-list-item>
                    <div class="space-10 d-md-none"></div>
                    <mat-list-item>
                        <mat-icon class="icons">send</mat-icon>&nbsp;
                        <span (click)="getHelperString('Hola, me gustaría saber cuales son los servicios que ofrecen');">
                                Hola, me gustaría saber cuales son los servicios que ofrecen.
                      </span>
                    </mat-list-item>
                    <div class="space-10 d-md-none"></div>
                    <mat-list-item>
                        <mat-icon class="icons">send</mat-icon>&nbsp;
                        <span (click)="getHelperString('Hola, quiero rediseñar mi sitio web a uno nuevo');">
                                Hola, quiero rediseñar mi sitio web a uno nuevo.
                      </span>
                    </mat-list-item>
                    <div class="space-10 d-md-none"></div>
                    <mat-list-item>
                        <mat-icon class="icons">send</mat-icon>&nbsp;
                        <span (click)="getHelperString('Hola, me gustaría una plantilla profesional para mi sitio web');">
                                Hola, me gustaría una plantilla profesional para mi sitio web.
                      </span>
                    </mat-list-item>
                    <div class="space-10 d-md-none"></div>
                    <mat-list-item>
                        <mat-icon class="icons">send</mat-icon>&nbsp;
                        <span (click)="getHelperString('Hola, tengo dudas acerca de sus servicios');">
                                Hola, tengo dudas acerca de sus servicios.
                      </span>
                    </mat-list-item>
                    <div class="space-10 d-md-none"></div>
                    <mat-list-item>
                        <mat-icon class="icons">send</mat-icon>&nbsp;
                        <span (click)="getHelperString('Hola, quiero implementar un chat en línea a mi sitio');">
                                Hola, quiero implementar un chat en línea a mi sitio.
                      </span>
                    </mat-list-item>
                    <div class="space-10 d-md-none"></div>
                    <mat-list-item>
                        <mat-icon class="icons">send</mat-icon>&nbsp;
                        <span (click)="getHelperString('Hola, quiero promocionar mi nuevo sitio web');">
                                Hola, quiero promocionar mi nuevo sitio web.
                      </span>
                    </mat-list-item>
                    <div class="space-10 d-md-none"></div>
                    <mat-list-item>
                        <mat-icon class="icons">send</mat-icon>&nbsp;
                        <span (click)="getHelperString('Solo quiero decir hola');">
                            Solo quiero decir hola.
                      </span>
                    </mat-list-item>
                </mat-list>
            </mat-list>
        </div>
    </div>
</section>