<!-- Desktop -->
<particles [params]="particles" [style]="ParticleStyle" [width]="width" [height]="height"></particles>
<section class="pt-4 pt-md-11 d-none d-xl-block">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-5 col-lg-6 order-md-2 wow slideInRight">
                <img title="Diseños de website" description="Genera mas ventas con un diseño increible!" src="./assets/campaign/pages/1920/webdesign-boost.png" class="img-fluid mw-md-150 mw-lg-auto mb-6 mb-md-0 offset-xl-2" alt="Cómo hacer un sitio web poderoso">
            </div>
            <div class="col-12 col-md-7 col-lg-6 order-md-1 wow slideInLeft">
                <h1 style="font-size: 40px" class="display-3 text-center text-md-left text-white Aquatico-Regular font-22">
                    Somos lideres en el desarrollo de sitios web
                </h1>
                <p class="text-center text-md-left  mb-6 mb-lg-8 LinotteLight text-white font-25">
                    Genera mas ventas con un diseño increible!
                </p>
                <div class="text-center text-md-left">
                    <form ngNativeValidate (ngSubmit)="PrecreatedEmail(campaignForm);" #campaignForm="ngForm">
                        <div class="form-row">
                            <div class="col-sm">
                                <input ngModel required name="email" type="email" class="form-control LinotteRegular" placeholder="Correo electrónico">
                            </div>
                            <div class="col-sm">
                                <!--<button mat-raised-button color="primary" class="btn-block LinotteRegular btn-trial" type="submit">
                                  Solicitar mi website!
                                </button>-->
                                <!-- Principio del widget de enlace de Calendly -->
                                <button mat-raised-button color="primary" class="btn-block LinotteRegular btn-trial" type="button" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/syftedesigns-services/web'}); fbq('track', 'Schedule'); return false;">
                                    Solicitar presupuesto
                                </button>
                                <!-- Final del widget de enlace de Calendly -->
                            </div>
                        </div>
                    </form>
                </div>
                <div class="space-30"></div>
                <div class="container">
                    <div class="row">
                        <div class="col text-center">
                            <p class="text-white LinotteLight font-14 font-weight-light">
                                Reserva el dia y la hora que deseas que nuestro agente especializado se ponga en contacto con usted para discutir los detalles de su problema.
                            </p>
                        </div>
                    </div>
                    <!-- divider -->
                    <div class="space-15"></div>
                    <section class="offset-xl-1" style="border-top: 2px solid white; width: 80%"></section>
                </div>
            </div>
        </div>
        <!-- Row 2 -->
        <div class="row">
            <div class="col-sm">
                <div class="row wow slideInUp">
                    <div class="col-sm wow slideInLeft">
                        <img title="Empieza tu sitio web ahora!" description="Crea un sitio web y empieza a captar leads" class="offset-xl-1" src="./assets/campaign/pages/1920/webdesign-responsive.png" alt="Empezar mi sitio web">
                    </div>
                </div>
            </div>
            <div style="margin-top: 8%" class="col-sm text-center offset-xl-2 wow slideInUp">
                <div class="space-100"></div>
                <h1 style="font-size: 30px" class="text-white LinotteLight">
                    Si tu sitio no genera las ventas que deseas, entonces es tiempo de rediseñar
                </h1>
                <p class="text-white LinotteLight font-16 font-weight-light">
                    Detrás una campaña publicitaria para empresa o promoción de una marca se encuentra un exhaustivo trabajo de diseño gráfico qu es finalmente llevado a web, es en esto en donde usamos todos los factores resaltantes de una marca y la plasmamos en un diseño
                    increíble.
                </p>
            </div>
        </div>
        <!-- end row 2 -->
        <!-- divider trial -->
        <div class="space-80"></div>
        <div class="row wow fadeIn">
            <div class="col-sm text-center offset-xl-3">
                <section class="w-75" style="border-top: 2px solid white;"></section>
            </div>
        </div>
        <div class="space-50"></div>
        <div class="row">
            <div class="col-sm text-center offset-xl-5 wow slideInUp">
                <!--<button (click)="OpenTrial();" style="position: relative; left: -0.5em;" mat-raised-button color="primary" class="btn-block col-5 LinotteRegular btn-trial" type="button">
                        Empezar mi web
              </button>-->
                <button mat-raised-button style="position: relative; left: -0.5em;" color="primary" class="btn-block col-5 LinotteRegular btn-trial" type="button" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/syftedesigns-services/web'}); fbq('track', 'Schedule'); return false;">
                    Solicitar presupuesto
            </button>
            </div>
        </div>
        <!-- end divider -->
        <!-- services -->
        <div class="space-50"></div>
        <div class="row offset-1 wow slideInUp">
            <div class="col-lg-4 col-sm-6">
                <mat-card class="mat-transparent hover-shadow-lg hover-translate-y-n10">
                    <div class="px-4 py-5 text-center">
                        <i class="material-icons font-60 text-white">
                          devices
                      </i>
                    </div>
                    <div class="px-4 pb-5 text-center">
                        <mat-card-title class="text-white LinotteRegular">
                            Diseño Responsivo
                        </mat-card-title>
                        <mat-card-content class="text-white LinotteLight">
                            Nuestros estudios de marketing demuestran que gran porcentaje del tráfico web proviene desde un dispositivo móvil, es por ello que capitalizamos al máximo todo su dinero y lo transformamos a una app web dinámica con efectos nativos de una aplicación móvil.
                        </mat-card-content>
                    </div>
                </mat-card>
            </div>
            <div class="col-lg-4 col-sm-6 wow slideInUp">
                <mat-card class="mat-transparent hover-shadow-lg hover-translate-y-n10">
                    <div class="px-4 py-5 text-center">
                        <i class="material-icons font-60 text-white">
                            memory
                      </i>
                    </div>
                    <div class="px-4 pb-5 text-center">
                        <mat-card-title class="text-white LinotteRegular">
                            Web Dinámicas
                        </mat-card-title>
                        <mat-card-content class="text-white LinotteLight">
                            Creamos páginas web poderosas con soporte a tiempo real e incluimos Google Analytics totalmente gratis para que usted pueda llevar las riendas de su negocio a toda hora.
                        </mat-card-content>
                    </div>
                </mat-card>
            </div>
            <div class="col-lg-4 col-sm-6">
                <mat-card class="mat-transparent hover-shadow-lg hover-translate-y-n10">
                    <div class="px-4 py-5 text-center">
                        <i class="material-icons font-60 text-white">
                            speaker_group
                      </i>
                    </div>
                    <div class="px-4 pb-5 text-center">
                        <mat-card-title class="text-white LinotteRegular">
                            Chat en línea
                        </mat-card-title>
                        <mat-card-content class="text-white LinotteLight">
                            Implementamos tecnología de soporte en línea a tiempo real en su sitio web, como servicio adicional. Usted podrá añadir personal que atienda de forma online a la visita en su sitio web o tienda.
                        </mat-card-content>
                    </div>
                </mat-card>
            </div>
        </div>
        <!-- end services -->
    </div>
    <div class="space-50"></div>
    <!--<div class="space-200"></div>-->
    <!-- / .container -->
</section>
<!-- end desktop -->
<!-- tablets -->
<section class="pt-4 pt-md-11 d-none d-md-block d-xl-none">
    <div class="container">
        <div class="row">
            <div class="col-sm text-center">
                <a href="https://www.syftedesigns.com" title="Brand logo">
                    <img description="Logo de Syfte designs" title="Syfte" style="position: relative; left: 0.5em;" src="./assets/campaign/pages/768/logo-03.png" alt="Logotipo de marca de Syfte">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm text-center wow slideInLeft">
                <h1 class="display-3 text-center  text-white Aquatico-Regular font-45">
                    Somos lideres en el desarrollo de sitios web
                </h1>
                <p class="text-center mb-6 mb-lg-8 LinotteLight text-white font-32">
                    Genera mas ventas con un diseño increible!
                </p>
            </div>
        </div>
        <div class="row offset-md-3 offset-lg-4 form-mg wow slideInUp">
            <form style="position: relative; left: -1em;" ngNativeValidate (ngSubmit)="PrecreatedEmail(campaignFormTablet);" #campaignFormTablet="ngForm">
                <div class="form-row">
                    <div class="col-sm text-center">
                        <input ngModel required name="email" type="email" class="form-control LinotteRegular" placeholder="Correo electrónico">
                    </div>
                    <div class="col-sm">
                        <!--<button mat-raised-button color="primary" class="btn-block LinotteRegular btn-trial" type="submit">
                                Empezar mi sitio ahora!!
                      </button>-->
                        <button mat-raised-button color="primary" class="btn-block LinotteRegular btn-trial" type="button" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/syftedesigns-services/web'}); fbq('track', 'Schedule'); return false;">
                            Solicitar presupuesto
                    </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="space-30"></div>
        <div class="row">
            <div class="col text-center ">
                <p class="text-white LinotteLight font-14 font-weight-light wow slideInLeft">
                    Reserva el dia y la hora que deseas que nuestro agente especializado se ponga en contacto con usted para discutir los detalles de su problema.
                </p>
            </div>
        </div>
        <!-- divider -->
        <div class="space-15"></div>
        <section class="offset-md-1 offset-lg-2 border-mg" style="border-top: 2px solid white; width: 80%;"></section>
        <div class="space-80"></div>
        <div class="row">
            <div class="col-12 col-md-7 col-lg-6 wow slideInLeft">
                <h1 style="font-size: 30px" class="display-3 text-center text-md-left text-white LinotteLight font-24">
                    Si tu sitio no genera las ventas que deseas, entonces es tiempo de rediseñar
                </h1>
                <p style="font-weight: lighter" class="text-center text-md-left  mb-6 mb-lg-8 LinotteRegular text-white font-16">
                    Detrás una campaña publicitaria para empresa o promoción de una marca se encuentra un exhaustivo trabajo de diseño gráfico qu es finalmente llevado a web, es en esto en donde usamos todos los factores resaltantes de una marca y la plasmamos en un diseño
                    increíble.
                </p>
            </div>
            <div class="col-md wow slideInRight">
                <img title="Diseños de website" description="Genera mas ventas con un diseño increible!" class="img-thumbnail phone-tablet" src="./assets/campaign/pages/1920/webdesign-boost.png" alt="Impulsa tu negocio con un sitio web">
            </div>
        </div>
        <div class="col-md order-md-1 wow slideInUp">
            <img title="Diseños web responsives" description="Diseños web optimizados para dispositivos móviles" class="img-thumbnail bag-tablet phone-lg-tablet" src="./assets/campaign/pages/1920/webdesign-responsive.png" alt="Cómo crear tu sitio web con diseño responsivo">
        </div>
        <div class="space-30"></div>
        <section class="offset-md-1 offset-lg-2 border-mg" style="border-top: 2px solid white; width: 80%;"></section>
        <div class="space-30"></div>
        <div class="col-md-7 col-lg-9 text-center offset-md-4 offset-lg-3 row-btn-mg wow slideInUp">
            <!--<button (click)="OpenTrial();" mat-raised-button color="primary" class="btn-block col-5 LinotteRegular btn-trial btn-trial-mg" type="button">
                    Empezar mi web
          </button>-->
            <button mat-raised-button color="primary" class="btn-block col-6 LinotteRegular btn-trial btn-trial-mg" type="button" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/syftedesigns-services/web'}); fbq('track', 'Schedule'); return false;">
                Solicitar presupuesto
        </button>
        </div>
        <!-- services -->
        <div class="space-70"></div>
        <div class="row wow bounceInUp">
            <div class="col-md-4 col-lg-4">
                <mat-card class="mat-transparent hover-shadow-lg hover-translate-y-n10">
                    <div class="px-4 py-5 text-center">
                        <i class="material-icons font-60 text-white">
                          devices
                      </i>
                    </div>
                    <div class="px-4 pb-5 text-center">
                        <mat-card-title class="text-white LinotteRegular">
                            Diseño Responsivo
                        </mat-card-title>
                        <mat-card-content class="text-white LinotteLight">
                            Nuestros estudios de marketing demuestran que gran porcentaje del tráfico web proviene desde un dispositivo móvil, es por ello que capitalizamos al máximo todo su dinero y lo transformamos a una app web dinámica con efectos nativos de una aplicación móvil.
                        </mat-card-content>
                    </div>
                </mat-card>
            </div>
            <div class="col-md-4 col-lg-4">
                <mat-card class="mat-transparent hover-shadow-lg hover-translate-y-n10">
                    <div class="px-4 py-5 text-center">
                        <i class="material-icons font-60 text-white">
                            memory
                      </i>
                    </div>
                    <div class="px-4 pb-5 text-center">
                        <mat-card-title class="text-white LinotteRegular">
                            Web Dinámicas
                        </mat-card-title>
                        <mat-card-content class="text-white LinotteLight">
                            Creamos páginas web poderosas con soporte a tiempo real e incluimos Google Analytics totalmente gratis para que usted pueda llevar las riendas de su negocio a toda hora.
                        </mat-card-content>
                    </div>
                </mat-card>
            </div>
            <div class="col-md-4 col-lg-4">
                <mat-card class="mat-transparent hover-shadow-lg hover-translate-y-n10">
                    <div class="px-4 py-5 text-center">
                        <i class="material-icons font-60 text-white">
                            speaker_group
                      </i>
                    </div>
                    <div class="px-4 pb-5 text-center">
                        <mat-card-title class="text-white LinotteRegular">
                            Chat en línea
                        </mat-card-title>
                        <mat-card-content class="text-white LinotteLight">
                            Implementamos tecnología de soporte en línea a tiempo real en su sitio web, como servicio adicional. Usted podrá añadir personal que atienda de forma online a la visita en su sitio web o tienda.
                        </mat-card-content>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
    <div class="space-40 d-md-none d-lg-block"></div>
    <div class="space-100 d-lg-none"></div>
</section>
<!-- end tablets -->
<!-- mobile -->
<section class="pt-4 pt-md-11 d-md-none">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <a href="https://www.syftedesigns.com/" title="Go to home">
                    <img description="Logo de Syfte designs" title="Syfte" src="./assets/campaign/pages/480/logo-03.png" alt="Logotipo de marca de Syfte">
                </a>
            </div>
        </div>
        <div class="row wow slideInLeft">
            <div class="col text-center">
                <h1 class="display-3 text-center  text-white Aquatico-Regular font-30">
                    Somos lideres en el desarrollo de sitios web
                </h1>
                <p class="text-center mb-6 mb-lg-8 LinotteLight text-white font-20">
                    Genera mas ventas con un diseño increible!
                </p>
            </div>
        </div>
        <!-- form mobile -->
        <div class="row wow slideInUp">
            <form ngNativeValidate (ngSubmit)="PrecreatedEmail(campaignFormResponsive);" #campaignFormResponsive="ngForm" class="form-px-mg offset-1 mobile-mg-sm mobile-mg-xl">
                <div class="col-sm text-center">
                    <mat-form-field class="col-12 form-w" appearance="outline">
                        <mat-label class="LinotteRegular text-white font-20 text-center">Correo electrónico</mat-label>
                        <input required name="email" ngModel type="email" class="text-white LinotteRegular" matInput>
                    </mat-form-field>
                </div>
                <div class="col-sm text-center">
                    <!--<button mat-raised-button color="primary" class="btn-block LinotteRegular btn-trial btn-trial-mg" type="submit">
                            Empezar mi sitio ahora!!
                  </button>-->
                    <button mat-raised-button color="primary" class="btn-block LinotteRegular btn-trial btn-trial-mg" type="button" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/syftedesigns-services/web'}); fbq('track', 'Schedule'); return false;">
                        Solicitar presupuesto
                </button>
                </div>
            </form>
        </div>
        <!-- end form mobile -->
        <div class="space-80"></div>
        <div class="row wow slideInLeft">
            <div class="col-12">
                <p class="text-white LinotteRegular font-14 text-center">
                    Reserva el dia y la hora que deseas que nuestro agente especializado se ponga en contacto con usted para discutir los detalles de su problema.
                </p>
            </div>
        </div>
        <div class="space-30"></div>
        <div class="row wow slideInLeft">
            <div class="col text-center">
                <img title="Diseños web responsives" description="Diseños web optimizados para dispositivos móviles" class="img-fluid" src="./assets/campaign/pages/1920/webdesign-responsive.png" alt="Crea un sitio web increible">
            </div>
        </div>
        <div class="space-20"></div>
        <div class="row wow slideInUp">
            <div class="col text-center">
                <h1 style="font-size: 22px" class="display-3 text-center  text-white LinotteLight font-32">
                    Si tu sitio no genera las ventas que deseas, entonces es tiempo de rediseñar
                </h1>
                <p style="font-weight: lighter" class="text-center   mb-6 mb-lg-8 LinotteRegular text-white font-16">
                    Detrás una campaña publicitaria para empresa o promoción de una marca se encuentra un exhaustivo trabajo de diseño gráfico qu es finalmente llevado a web, es en esto en donde usamos todos los factores resaltantes de una marca y la plasmamos en un diseño
                    increíble.
                </p>
            </div>
        </div>
        <div class="space-15"></div>
        <div class="row wow slideInLeft">
            <div class="col text-center">
                <section class="offset-1" style="border-top: 2px solid white; width: 80%; position: relative; left: 0.3em;"></section>
            </div>
            <div class="space-20"></div>
            <div style="position: relative; left: 0.7em;" class="col-sm text-center offset-1">
                <!--<button (click)="OpenTrial();" mat-raised-button color="primary" class="btn-block col-10 LinotteRegular btn-trial btn-trial-mg" type="button">
                        Empezar mi web
              </button>-->
                <button mat-raised-button color="primary" class="btn-block col-10 LinotteRegular btn-trial btn-trial-mg" type="button" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/syftedesigns-services/web'}); fbq('track', 'Schedule'); return false;">
                    Solicitar presupuesto
            </button>
            </div>
        </div>
        <!-- services -->
        <div class="space-50"></div>
        <div class="col wow slideInLeft">
            <mat-card class="mat-transparent hover-shadow-lg hover-translate-y-n10">
                <div class="px-4 py-5 text-center">
                    <i class="material-icons font-60 text-white">
                        devices
                    </i>
                </div>
                <div class="px-4 pb-5 text-center">
                    <mat-card-title class="text-white LinotteRegular">
                        Diseño Responsivo
                    </mat-card-title>
                    <mat-card-content class="text-white LinotteLight">
                        Nuestros estudios de marketing demuestran que gran porcentaje del tráfico web proviene desde un dispositivo móvil, es por ello que capitalizamos al máximo todo su dinero y lo transformamos a una app web dinámica con efectos nativos de una aplicación móvil.
                    </mat-card-content>
                </div>
            </mat-card>
        </div>
        <div class="space-30"></div>
        <div class="col wow slideInLeft">
            <mat-card class="mat-transparent hover-shadow-lg hover-translate-y-n10">
                <div class="px-4 py-5 text-center">
                    <i class="material-icons font-60 text-white">
                        memory
                  </i>
                </div>
                <div class="px-4 pb-5 text-center">
                    <mat-card-title class="text-white LinotteRegular">
                        Web Dinámicas
                    </mat-card-title>
                    <mat-card-content class="text-white LinotteLight">
                        Creamos páginas web poderosas con soporte a tiempo real e incluimos Google Analytics totalmente gratis para que usted pueda llevar las riendas de su negocio a toda hora.
                    </mat-card-content>
                </div>
            </mat-card>
        </div>
        <div class="space-30"></div>
        <div class="col wow slideInLeft">
            <mat-card class="mat-transparent hover-shadow-lg hover-translate-y-n10">
                <div class="px-4 py-5 text-center">
                    <i class="material-icons font-60 text-white">
                        directions_boat
                  </i>
                </div>
                <div class="px-4 pb-5 text-center">
                    <mat-card-title class="text-white LinotteRegular">
                        Chat en línea
                    </mat-card-title>
                    <mat-card-content class="text-white LinotteLight">
                        Implementamos tecnología de soporte en línea a tiempo real en su sitio web, como servicio adicional. Usted podrá añadir personal que atienda de forma online a la visita en su sitio web o tienda.
                    </mat-card-content>
                </div>
            </mat-card>
        </div>
        <!-- end services -->
    </div>
    <div class="space-100"></div>
</section>
<!-- end mobile -->
<app-contact></app-contact>